*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
}
body {
  background: #333;
  height: 100%;
  font-family: Open sans, Helvetica, sans-serif;
}
header {
  position: fixed;
  z-index: 99;
  /* en fixed prend la taille que du contenu donc il faut width:100% */
  width: 100%;
  display: flex;
  background-color: #f1f1f1;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.4);
}
/* pour faire en sorte que tous les éléments du header se partagent l'espace de façon
équivalente je leur mets une width:100% car par défaut ils ont un flex-shrink:1 */
.toggler-container,
.navigation,
.logo-link,
.user {
  width: 100%;
}

.toggler-container {
  display: none;
}

.navigation a {
  font-weight: 600;
  margin-right: 10px;
}

.logo-link {
  text-align: center;
}

/* quand le navigateur ananlyse une image dans son container, il rajoute en dessous
de l'image un petit espace supplémentaire, ce qui la rend difficile à centrer.
Pour remédeir à ce problème on utilise display:flex sur le container */
.user {
  /* background-color: red; */
  display: flex;
}
.user img {
  width: 30px;
  /* pour pousser l'image à droite */
  margin-left: auto;
}
header a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
/* img {
  width: 30px;
} */

/* media queries */
@media (max-width: 1000px) {
  .toggler-container {
    display: block;
  }
  .toggler-container button {
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .toggler-container img {
    width: 20px;
  }
  /* sortir la navigation horizontale pour la passer à la verticale létérale */

  /* 1 - on la sort du flux */
  .navigation {
    position: absolute;
    width: 240px;
    background-color: #f1f1f1;
    /* pour lui donner une hauteur on fait un calcul */
    /* 100vh (hauteur de la fenêtre) - 100%(hauteur de son parent header) - 1px(hauteur
    de la bordure du parent header) */
    height: calc(100vh - 100% - 1px);
    left: 0;
    /* pour le top on utilise encore calc et on on positionne à 100% de la 
    hauteur du parent header + 1px de bordure pour la voir*/
    top: calc(100% + 1px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: all 0.4s ease-out;
    transform: translateX(-100%);
  }
  .navigation a {
    display: block;
    margin: 14px 0;
    padding: 0 20px;
  }
  .navigation.active {
    transform: translateX(0%);
  }
  main.active {
    transform: translateX(240px);
    max-width: calc(100vw - 240px);
  }
}

@media (max-width: 767px) {
  main.active {
    max-width: 100%;
  }
}

/* style main */
main {
  overflow-x: hidden;
  padding: 20px;
  position: relative;
  top: 60px;
  color: cornsilk;
  transition: transform 0.4s ease-out;
}
main section {
  border: 1px solid cornsilk;
  padding: 20px;
  margin: 10px 0;
}
main p:first-child {
  margin-bottom: 2rem;
}
